<h2>Reservation for <%= @reservation.item.name %></h2>
<div>
  <p>You have this item reserved from: <%= @reservation.begins_at.to_formatted_s(:long)  %>
</div>
<div>
  Until: <%= @reservation.ends_at.to_formatted_s(:long) %></p>
</div>
<%= link_to "Edit this Reservation", edit_reservation_path %>
