<div id='search-results'>
  <h3>
    <%= item.name %><%= link_to image_tag(item.url, width: 150), item %>
  </h3>

  <% if item.reserved_by?(current_user) %>
    <p>my reservations:</p>
    <% current_user.items.each do |item| %>
      <div>
        <%= link_to item.reservation.created_at.to_formatted_s(:short), edit_reservation_path(item.reservation)%>
      </div>
    <% end %>
  <% end %>
</div>
