<h2>Update Item</h2>
<%= form_for(@item) do |form| %>
  <%= form.text_field :name, placeholder: "Name" %>
  <%= form.url_field :url, placeholder: "Image link" %>
  <%= form.submit "Update Item" %>
<% end %>
