<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your BMP reservation is due soon</h1>
    <p>
      Hi <%= @user.first_name %>,
      This is a reminder email to alert you that your reservation is ending soon.
      Please return your reserved items to BMP.
    </p>
    <p>
      Any reservation issues can be directed to tech@brownmotionpictures.org.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
